body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

video {
    position: absolute;
    left: 50px;
}

canvas {
    position: absolute;
    left: 50px;
}

td, tr, table {
    border: 1px solid #080808;
}

#info {
    margin-right: 20px;
}